*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 22px;
    background-color: rgba(61, 67, 243, 0.686);
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color: white;
}

th, td {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

h2{
    font-weight: 600;
}

h1{
    font-weight: 700;
}